.DS_Store
examples/cat/cat
examples/grep/grep
examples/cat2/cat2
examples/echo/echo
examples/head/head
examples/visitors/visitors
examples/*/go.sum
.vscode/settings.json
examples/ls/ls
rmasci.go
example/test.go
example/password
rmasci_test.go
README_rmasci.md
example/test.json
